{{> header}}
<!-- Banner -->
<section id="banner">
    <div class="inner" style="padding-top: 10px">
        <div>
            <object type="image/svg+xml" data="Logo.svg" width="200px" height="200px" style="text-align:center">Your browser does not support SVG</object>
        </div>
        <header>
            <h2><span style="font-weight: 600;">Track</span> <span style="font-weight: 300;">Share</span></h2>
        </header>
        <p>A social forum to post
            <br /> and discuss the music
            <br /> that matters to you
        </p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#discover" class="button fit scrolly">Discover <span style="font-weight: 600;">Tracks</span> <span style="font-weight: 300;">Now</span></a></li>
            </ul>
        </footer>
    </div>
    <br>
    <br>
    <br>
    <br>
</section>
<!-- CTA -->
    <section id="cta">
        <header>
            <article id="discover">
            <!-- Shows the button to post a playlist if a user is logged in -->
            {{#if userId}}
            <ul class="buttons">
                <!-- <li><a href="#" class="button">Go to my profile</a></li> -->
                <li><a href="/post" class="button">Post a Playlist</a></li>
                <br>
                <br>
                {{!-- <li>

                </li> --}}
            </ul>
            {{else}}
            <h5>It's easy to get started with <span style="font-weight: 600;">Track</span> <span style="font-weight: 300;">Share</span>! Simply log-in with your Spotify account and talk music.</h5>
            {{!-- <h2><strong>Menu</strong></h2> --}}
            {{!-- <p></p> --}}
            {{/if}}
        </header>
        {{#each threads}}
                <a href="/thread{{this.id}}" style="text-align:center; border-bottom: none"><div class="6u" style="border:1px solid white; color: white; margin-bottom:20px; display: inline-block"><span style="font-size:26px">{{this.title}}</span><br> <span style="font-size:14px">{{this.User.displayName}}</span><br><span style="font-size:14px">Genre: {{this.genre}}</span></div></a>
            
        {{/each}}
        {{!-- <footer>
            
            </ul>
        </footer> --}}
    </section>
        </article>