<!-- Playlist display -->
<section id="playlistDisplay">
    <h2>{{thread.title}}</h2>
    
    <iframe src="https://embed.spotify.com/?uri={{this.threadUri}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

    <p>{{thread.contents}}</p>
</section>

<section id="postComment">
    <form action="thread/{{thread.id}}/comment/create" method="POST">
    </form>
</section>

<section id="commentDisplay">
<ul>
    {{#each comments}}
    <li>
        <p>{{this.user}}</p>
        <p>{{this.contents}}</p>
    </li>
    {{/each}}
</ul>
</section>