{{> header}}
<!-- Playlist display -->
<section id="banner">
    <h2>{{thread.title}}</h2>
    
    <iframe src="https://embed.spotify.com/?uri={{thread.threadUri}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    <br/>
    <a href="{{thread.threadUri}}" class="button">Download to Spotify</a>

    <p>{{thread.contents}}</p>

    <section class="wrapper style4 special container 75%">

        <form action="thread{{thread.id}}/comment/create" method="POST">
            <input type="text" name="contents" placeholder="Write a comment!" style="color: grey"/>
            <input type="hidden" name="userID" value="{{userId}}"/>
            <input type="submit" class="special" value="Post" />
        </form>
    <ul>
        {{#each comments}}
        <li style="border: 1px solid black">
            <p style="color: black">{{this.User.displayName}}:</p>
            <p style="color: black">{{this.contents}}</p>
        </li>
        {{/each}}
    </ul>

    </section>
</section>